# Virtual environment
env/
venv/
.venv/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Distribution / packaging
.Python
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
